body {
    margin: 0;
    font-family: 'Montserrat';
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*-----------Header---------------*/

.header {
    max-width: 1440px;
    display: flex;
    max-height: 169px;
    justify-content: space-between;
    margin: 0;
}
.collection-container {
     position: relative;  
    
}
/*----------------background-black------------*/

.background-black {
    background-color: black;
    width: 461px;
    height: 900px;
    left: 0px;
    top: 0px;
    position: absolute;
    
 
}


.header__inner {
    display: flex;
    justify-content: space-between;
    width: 100px;
    max-width: 1440px;
    position: relative;
}
.header__logo{
    max-width: 31px;
    max-height: 25px;
    font-size: 30px;
    margin-top: 35px;
    margin-left: 54px;
    letter-spacing: 0.07em;
    color: #fff;
   
}
.dropbtn {
    font-size: 20px;
    margin-top: 42px;
    margin-left: 302px;
    color: #fff;
}
.checkmark {
    width: 20px;
    height: 20px;
    margin-top: 46px;
    margin-left: 7px;
    background-color: black;
    
}
.checkmark_stem {
    width:2px;
    height:8px;
    background-color:#fff;
    margin-left:10px;
    margin-top:6px;
    margin-right: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_kick {
    width:2px;
    height:8px;
    background-color:#fff;
    margin-left: 5px;
    margin-top: -8px;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

/*-----------Menu-btn------------------*/

#menu__toggle {
    opacity: 0;
    display: none;
}
.menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 907px;
    width: 92px;
    height: 92px;
    cursor: pointer;
    background-color: #f1f1f1;
} 

  /* добавляем "гамбургер"*/
.menu__btn > span,
.menu__btn > span::before {
    display: block;
    position: absolute;
    width: 35px;
    height: 4px;
    background-color: black;
       
      
}
.menu__btn > span {
    content: '';
    top: 49px; 
    margin-left: 28px;
    
}
.menu__btn > span::before {
    content: '';
    top: -10px;
}
/*-------------Основной блок--------------*/


.collection-container {
    width: 100%;
    max-width: 1440px;
    height: 562px;
    background: url(../images/pete-bellis-432867-unsplash.svg) no-repeat top;
    background-position: top left;
    margin-left: 186px;
    position: relative;

}

.collection__title {
    font-size: 80px;
    line-height: 82px;
    color: black;
    font-weight: 700;
    margin-right: 176px;
    margin-left: 603px;
    margin-top: 77px;
    padding-top: 101px;
}

.collection__subtitle {
    font-size: 15px;
    line-height: 21px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 472px;
    height: 127px;
    text-align: left;
    margin-left: 603px;
    font: 'montserratblack';
}   

/*--------Button--------*/

.inline {
    display: inline-block;
    text-transform: uppercase;
    background-color: #fff;
    pointer-events: auto;
    font: 500 'montserratbold';
    color: black;

}


#collection__button {
    width: 203px;
    height: 44px;
    font-size: 13px;
    font-weight: 500;
    border: 1.5px solid #000000;
    margin-left: 603px;
    
}

#collection__button-text {
    width: 180px;
    height: 0px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 46px;
    padding: 14px 0 30px 0;
    border: none;
       
}

/*-----Arrow-------*/

.arrow-1 {
    pointer-events: auto;
    position: relative;
    width: 45px;
    height: 7px;
    margin: 0px;
    padding-left: 8px;
    padding-bottom: 26px;
    display: inline-block;
}
.arrow-1 div {
    position: relative;
    top: 25px;
    width: 43px;
    height: 2px;
    background-color: #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left:0;
    display: block;
        
}
.arrow-1 div::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        top: -3px;
        right: -3px;
        background-color: #000;
        transform: rotate(45deg);
    }
.arrow-1 div::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        top: 3px;
        right: -3px;
        background-color: #000000;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
        transform: rotate(-45deg);
    }
.arrow-1:hover {
animation: arrow-1 1s linear infinite;
    }
@keyframes arrow-1 {
    0% {left:0;}
    50% {left:10px;}
    100% {left:0;}
}
/*-------Social btn------------*/
.image-imageInst,
.image-imageVK,
.image-imageFcb {
    

    margin-top: 85px;
    color: #fff;
    position: relative;
}
.image-imageInst {  
    margin-left: 52px;
}
.image-imageVK {
    margin-left: 8px;
}
.image-imageFcb {
    margin-left: 8px;
}

/*--------Scroll------------*/

.scroll {
    display: inline-block;
    position: absolute;
    width: 27px;
    height: 46px;
    left: 707px;
    top: 815px;

    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
}

.rec {
    position: absolute;
    width: 2.45px;
    height: 8.21px;
    left: 719.27px;
    top: 826.5px;

    background: #000000;
    border-radius: 19px;
}

