body {
    margin: 0;
    font-family: 'Montserrat';
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
.header {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    color: #fff;
    position: absolute;
    
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/*----Collection----*/

.collection {
    position: absolute;
    width: 491px;
    height: 397px;
    margin-left: 786px;
    margin-top: 263px;

}
.collection__title {
    font-size: 80px;
    line-height: 82px;
    color: black;
    font-weight: 700;
    padding-top: 4px;
}

.collection__subtitle {
    font-size: 15px;
    line-height: 21px;
    color: #000;
    margin-top: 22px;
    margin-bottom: 36px;
    width: 472px;
    height: 127px;
    text-align: left;
    /*font-family: 'montserratregular';
    /*font-weight: 400px;*/
}

/*----Header----*/
.header__inner {
    position:absolute;
}
.header__logo{
    position: absolute;
    font-size: 30px;
    margin-top: 35px;
    margin-left: 54px;
}
.dropbtn {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    margin-top: 42px;
    margin-left: 388px;
}

.menu {
    background: url(../images/Rectangle\ 5.svg) no-repeat left top;
    width: 461px;
    height: 900px;
    top:0;
 }

.checkmark {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 46px;
    margin-left: 422px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.checkmark_stem {
    position: absolute;
    width:2px;
    height:8px;
    background-color:#fff;
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:2px;
    height:8px;
    background-color:#fff;
    left:8px;
    top:9px;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.mask {
    position: absolute;
    background: url(../images/pete-bellis-432867-unsplash.svg) no-repeat top;
    width: 549px;
    height: 562px;
    margin-top: 169px;
    margin-left: 186px;
}

/*-----------Menu-btn------------------*/
.hamburger-menu {
    position: absolute;
}
#menu__toggle {
    opacity: 0;
    display: none;
  }
  .menu__btn {
    display: flex; 
    align-items: center;
    position: fixed;
    left: 1348px;
    width: 92px;
    height: 92px;
    cursor: pointer;
    background-color: #ec3fec;
    
    
    
   } 
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before {
    display: block;
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: black;
       
      
  }
  .menu__btn > span {
    content: '';
    top: 52px; 
    margin-left: 28px;
    
  }
  .menu__btn > span::before {
    content: '';
    top: -10px;
  }


/*------Button-------*/
button {
    padding: 0;
    font-family: 'Montserrat';
}    
.collection__button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    content: "";
    text-decoration: none;
    width: 203px;
    height: 44px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    border: 1.5px solid #000000;
    pointer-events: auto;
    background-color: #fff;
    
}

.collection__button-text {
    display: inline-block;
    align-items: center;
    justify-content: center;
    content: "";
    text-decoration: none;
    width: 172px;
    height: 0px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: black; 
    margin-left: 52px;
    padding: 14px 0 30px 0;
    position: absolute;
    pointer-events: auto;
    background-color: #fff;
    border: none;
    
}

/*-----Arrow-------*/
.arrow-1 {
    pointer-events: auto;
    position: relative;
    width: 45px;
    height: 7px;
    margin: 0px;
    padding-left: 240px;
    padding-bottom: 26px;
    display: inline-block;
}
.arrow-1 div {
        position: relative;
        top: 20px;
        width: 43px;
        height: 2px;
        background-color: #000;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
        left:0;
        display: block;
        
}
.arrow-1 div::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        top: -3px;
        right: -3px;
        background-color: #000;
        transform: rotate(45deg);
    }
.arrow-1 div::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        top: 3px;
        right: -3px;
        background-color: #000000;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
        transform: rotate(-45deg);
    }
.arrow-1:hover {
animation: arrow-1 1s linear infinite;
    }
@keyframes arrow-1 {
    0% {left:0;}
    50% {left:10px;}
    100% {left:0;}
}

/*-------Social btn------------*/
.image-imageInst,
.image-imageVK,
.image-imageFcb {
    
    width: 43px;
    height: 43px;
    position: absolute;
    margin-top: 816px;
}
.image-imageInst {  
    margin-left: 52px;
}
.image-imageVK {
    margin-left: 107px;
}
.image-imageFcb {
    margin-left: 162px;
}

/*--------Scroll------------*/

.scroll {
    display: inline-block;
    position: absolute;
    width: 27px;
    height: 46px;
    left: 707px;
    top: 815px;

    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
}

.rec {
    position: absolute;
    width: 2.45px;
    height: 8.21px;
    left: 719.27px;
    top: 826.5px;

    background: #000000;
    border-radius: 19px;
}